{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5 w-50">
        <h1 class="mb-4">{% block title %} Add a New Book {% endblock %}</h1>
        <form method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="title" id="title" class="form-control" placeholder="Enter the book title">
            </div>

            <div class="mb-3">
                <label for="author" class="form-label">Author</label>
                <input type="text" name="author" id="author" class="form-control" placeholder="Enter the author's name">
            </div>

            <div class="mb-3">
                <label for="pages_num" class="form-label">Number of Pages</label>
                <input type="number" name="pages_num" id="pages_num" class="form-control" placeholder="Enter the number of pages">
            </div>

            <div class="mb-3">
                <label for="review" class="form-label">Review</label>
                <textarea name="review" id="review" class="form-control" placeholder="Enter your review" rows="6"></textarea>
            </div>

            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
    </div>
{% endblock %}
